html, body, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
}

canvas {
  display: block;
  z-index: 0;
}

#game-over {
  display:none;
  position: absolute;
  top: 200px;
  left: 20px;
  z-index: 1;
}

#intro {
  position: absolute;
  top: 450px;
  left: 30px;
  font-family: sans-serif;
  font-size: 40px;
}

#five-sec {
  position: absolute;
  display: none;
  top: 8px;
  left: 180px;
  color: rgb(255, 255, 0);
  font-family: sans-serif;
  font-size: 20px;
}
#pause {
  display:none;
  position: absolute;
  top: 200px;
  left: 220px;
  opacity: 0.5;
  z-index: 1;
}

#restart {
  display:none;
  position: absolute;
  top: 200px;
  left: 520px;
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
}

#game-canvas {
  display:none;
}

#start {
  position: absolute;
  top: 50px;
  left: 350px;
  z-index: 1;
}

.start-button {
  cursor: pointer;
}
/* Pulse */
@-webkit-keyframes start-button {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes start-button {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.start-button {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.start-button:hover, .start-button:focus, .start-button:active {
  -webkit-animation-name: start-button;
  animation-name: start-button;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
